@import '../../global.scss';

.button {
  margin: 20px 0;
  width: 120px;
  height: 42px;
  font-size: 20px;
  background-color: $charcoal-blue;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  a {
    text-decoration: none;
    color: $white;
  }
}

.button:hover {
  box-shadow: 0px 15px 20px $charcoal-blue-rgba;
  transform: translateY(-7px);
}
