@import '../../global.scss';

.hero-wrapper {
  display: flex;
  min-height: 400px;
  background-color: $vivid-crimson;
}

.hero-container {
  display: flex;
  align-content: space-between;
  max-width: 100%;

  h1,
  p {
    color: $white;
  }

  .hero-text-container {
    margin: auto;
    width: 50%;
    h1 {
      font-size: 3.5vw; //
    }
    p {
      font-weight: 300;
      font-size: 2vw;
      padding-right: 60px;
    }
  }

  .hero-image-container {
    width: 50%;

    .hero-image {
      width: 100%;
      max-width: 600px;
      padding: 5vh 0;
    }
  }
}

.mobile {
  display: none;
}

@media (min-width: $desktop-breakpoint) {
  .hero-container {
    .hero-text-container h1 {
      font-size: 50px;
    }

    .hero-text-container p {
      font-size: 30px;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .hero-text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .hero-container {
    .hero-text-container h1 {
      margin-top: 30px;
      font-size: 40px;
      width: 100%;
    }
    .hero-text-container p {
      width: 100%;
      padding: 0 25px;
      font-size: 22px;
    }
    .hero-image-container .hero-image {
      width: 100%;
      padding: 20px 0;
    }

    .hero-text-container {
      width: 100%;
    }
  }
}
