@import '../../global.scss';

.navbar-wrapper {
  margin: auto;
  max-width: 1280px;
  width: 80%;
  font-weight: normal;

  a {
    font-size: 26px;
    text-decoration: none;
  }

  .navbar-element-wrapper a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $vivid-crimson;
  }

  .navbar-element-wrapper .active::after {
    width: 100%;
    transition: width 0.4s;
  }

  h4 {
    font-size: 19px;
    margin: -8px 0 0 0;
  }

  .navbar-name a {
    font-weight: bold;
    margin: 0;
  }
}

.navbar-container {
  display: flex;
  margin: auto;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-element-wrapper {
  display: flex;
}

.navbar-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 1%;
  z-index: -1;
  margin-bottom: -6px;
}

ul {
  margin: 0;
}

li {
  text-decoration: none;
  list-style: none;
  margin: auto 0 auto 1.5rem;
}

.menu {
  display: block;
}

.menu-shadow {
  display: none;
}

.nav-menu-icon {
  font-size: 30px;
  color: $charcoal-blue;
}

@media (min-width: $tablet-breakpoint) {
  .navbar-menu {
    display: none;
  }

  .menu {
    display: none;
    transition: 0s;
  }

  .navbar-wrapper {
    .navbar-element-wrapper {
      display: flex !important;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .navbar-wrapper {
    .navbar-element-wrapper a::after {
      background: $white;
    }
  }

  .navbar-element-wrapper {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 30px 15px;
    height: 100vh;
    background-color: $alabama-crimson;
    min-width: 250px;
    width: 40%;
    z-index: 2;
    transform: translateX(-400px);

    li {
      padding: 5px 0;
      width: min-content;
    }

    a {
      color: $white;
    }
  }

  .menu-shadow {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    padding: 30px 0;
    height: 100vh;
    background-color: #151515;
    opacity: 60%;
    width: 100%;
    z-index: 1;
  }

  .menu {
    display: block;
    transform: translateX(0px);
    transition: 0.3s;
  }

  .lock-scroll {
    overflow: hidden;
  }
}
