//Colours - https://www.color-name.com/
$white: #fff;
$dark-charcoal: #333;
$charcoal-blue: #35344e;
$charcoal-blue-rgba: rgba(53, 52, 78, 0.3);
$chinese-black: #151515;
$vivid-crimson: #cc002a;
$alabama-crimson: #a50022;
